body{
    background-image: url(".../img/book.jpg");
    background-size: 100% 720px; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    line-height:20px;
    font-family:inherit; text-align:center; color: rgb(60, 55, 55);
}
h1{
    color: darkgray;
    text-align: center;
}